<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <i class="fa fa-cloud"></i>
<h1>
BiMap運維大數據分析系統
</h1> 
<p>
是iT系統運維的大數據解決方案，將IT系統運行過程中所產生巨量的log，利用BigData 的技術 對運維過程中產生的大量log的收集、處理和預測分析，幫助你快速解決故障，並排查出運行過程中的高風險點和弱點，為運維決策的預測依據，在異常現象出現之前，採取有效的防範措施和手段，以減少或消除可能發生的事故， 進而發揮大數據對運維決策分析和防患於未然的重要作用！
</p>
            <h4><br/>{{ site.testimonial.author }}</h4>
            <p>{{ site.testimonial.position }}</p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/twrap -->
