<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>BiMAP 維運大數據分析平台</h2>
                <h1>Logging as a Service</h1>
                <h5>
通過整合整體系統中的軟硬體資源設備的相關log,如Database、OS、Server、Storage和應用AP等，不同日誌的集中收集;並利用bigdata>大數據分析和雲端的創新技術，實施深度的量化評估、關聯分析和趨勢統計和即時監控，落實主動預防的系統維運，以提升IT系統的服務品質和降低核心系統的運行風險。
</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
	<img src="http://i.imgur.com/w09rKV4.png" class="img-responsive">

            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
