<div class="container-fluid color_grey">
<div class="container hblock">
            <h3>維運大數據的分析和監控</h3>
        <hr>
    <div class="row">
        <div class="col-lg-6">
        <img src="http://i.imgur.com/UN5lg6f.png" class="img-responsive">
        </div>
        <div class="col-lg-6">
<h4>提供升級改造的量化依據，保障投資效益</h4>
<p>隨著核心應用系統複雜度和的資料量日益增長，IT系統也會隨需而變。如何利用大數據維運分析平台，如何量化評估應用系統的負載需求和資源設備的最大業務支撐力，來保障核心系統未來3-5年的高效穩定運行。避免升級方案實施後，才發現改善效果不如預期的現象。
</p>
<h4>建制預警通報機制，落實主動維運模式</h4>
<p>
通過現有收集的nmon log， 經由資料挖掘、建模分析，建立系統之間的關聯性，建立IT系統的風險相關模型，以大數據技術實現風險預警通報管理機制， 一方面提供技術團隊的提前實施調整異常的依據，另一方面協助管理團隊建立主動維運的模式，提早維運決策品質和降低系統運營的風險。
</p>
<h4> 縮短異常問題的處理週期，提升體驗滿意度</h4>
<p>
由於IT系統環境日益複雜、通常只有在核心系統發生服務中斷後，并造成影響時，IT部門才會開始被動分析異常問題。由於需要通過不同的技術和多種監控工具，對龐大的複雜資料做繁複的診斷，造成處理問題的周期過長。
</p>
            <p><br/><a href="/contact/" class="btn btn-theme">ReadMore</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->
</div><! --/container -->
