<div class="container-fluid color_green ">
<div class="container hblock">
            <h3>軟體品質的量測和驗證</h3>
        <hr>
    <div class="row">
        <div class="col-lg-6">
                <p>良好的軟體品質管理主要是運用品管的觀念與技術，對於軟體專案進行過程的軟體品質作一系列完整的規劃、執行與控制的活動。 其主要目的是提升軟體品質水準與設計生產力。</p>
                <p>優良的軟體品質源於良好的用戶體驗，因為軟體質量問題如：響應時間太長、軟體報錯、無法正常連結，甚至是當機的現象，造成用戶不同程度的抱怨的用戶體驗</p>
                <p>Log Center 整合系統和軟體的日誌，量化軟體品質的指標，並且進行關聯量測、驗證和確認。並且提供給開發團隊和測試部門便利的監控和分析儀表版，以將軟體的缺點與軟體專案失敗的風險減少至最低程度。</p>
            <p><br/><a href="/contact/" class="btn btn-theme">ReadMore</a></p>
        </div>
        <div class="col-lg-6">
        <img src="http://i.imgur.com/bGySN8e.png" class="img-responsive">
        </div>
    </div><! --/row -->
</div><! --/container -->
</div><! --/container -->
